# Virtual environments
venv/
.venv/
env/
ENV/
virtualenv/
pipenv/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.tox/
.pytest_cache/

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
